h1 {
    font-size: 2.5em;
    color: #333333;
    text-align: center;
    margin-bottom: 20px;
}
#email{
    width: 50%;
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #888888;
    border-radius: 1px;
    box-sizing: border-box;
    font-size: 1em;
}